label {
  color: #8a8a8a;
  font-weight: bold;
  font-size: 25px;
}

.form-add{
  border: solid 1px #61dafb;
  padding: 20px;
  display: flex;
}

input{
  width: 40%;
  font-size: 20px;
}

.form-add button{
  margin-left: 10px;
}
a{
  text-decoration: none;
}
a:hover{
  color: darkgreen;
  font-weight: bold;
}
ul li{
  border: solid #9fb4f2 2px;
  margin-bottom: 10px;
  list-style-type: none;
  width: 30%;
  padding: 10px;
}